astroid==2.5.1
certifi==2020.12.5
chardet==3.0.4
Deprecated==1.1.0
gazu==0.8.13
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pep8==1.7.1
pylint==2.7.2
requests==2.24.0
six==1.15.0
socketIO-client==0.7.2
toml==0.10.2
urllib3==1.25.11
websocket-client==0.58.0
wrapt==1.12.1
